.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 100%; /* Take full available width of the column */
  max-width: 200px; /* But don't exceed 200px */
  object-fit: contain; /* Prevents shrinking and stretching! */
  margin: 0 auto; /* Centers the image */
}
